*
{
    margin: 0;
    padding: 0;
}

/*------------------Main----------------------------*/

/*øverste billede på siden*/


.forsidebillede{
    width: 100%;
    height: auto;
}

.forsidebillede img{
    width: 100%;
    height: auto;
    
}


h1{
    text-align: center;
    font-size: 3vw;
    font-family: "iskra", sans-serif;
    text-transform: uppercase;
    margin: 4%;
}

.kasser{
    display: flex;
    justify-content: center;
}

.kasser div{
    padding-left: 3%;
    padding-right: 3%;
}

.uge a
    {
       margin: 5%;
        font-family: raleway;
        color: black;
        font-size: 1.3vw;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        border: 2px;
        border-radius: 30px;
        padding: 15px 32px;
        cursor: pointer;
        background-color: #bfccb4;
    }