*
{
    background-color: white;
    margin: 0;
    padding: 0;
}

/*------------------Main----------------------------*/

/*øverste billede på siden*/
#japanskkultur{
    width: 100%;
    height: 600px;
}

/*layout i afsnittet "det japanske køkken"*/
h1{
    text-align: center;
    font-size: 50pt;
    margin: 40px;
}

p{
    text-align: center;
    font-size: 15pt;
    line-height: 35px;

}

/*flexboksen ved "om nippon" afsnittet*/
.omosflex{
    display: flex;
    background-color: #EFE8E1;
}

/*layout af teksten i "om nippon" afsnittet*/
.omosflex h2, p{
    text-align: center;
    margin: 20px;
}

/*så de to flexbokse fylder 50% hver*/
.omosflex div{
    width: 50%;
}

/*billedet skal fylde 100% af dens boks*/
#gulerødder, #levering{
width: 100%;
}

