*
{
    margin: 0;
    padding: 0;
}

/*------------------Main----------------------------*/

/*øverste billede på siden*/
#japanskkultur{
    width: 100%;
    height: auto;
}

.kultur img{
    width: 100%;
    height: auto;
    
}



/*layout i afsnittet "det japanske køkken"*/
h1{
    text-align: center;
    font-size: 5vw;
    font-family: "iskra", sans-serif;
    text-transform: uppercase;
    margin: 2%;
}

p{
    text-align: center;
    font-size: 1.5vw;
    line-height: 2.5vw;
    font-family: raleway;

}

.køkken{
    height: 320px;
}

/*flexboksen ved "om nippon" afsnittet*/
.omosflex{
    display: flex;
    background-color: #EFE8E1;
}

/*layout af teksten i "om nippon" afsnittet*/
.omosflex h2, p{
    text-align: center;
}

h2{
    font-size: 3vw;
    font-family: "iskra", sans-serif;
    text-transform: uppercase;
    margin: 2%;

}

/*så de to flexbokse fylder 50% hver*/
.omosflex div{
    width: 50%;
}

/*billedet skal fylde 100% af dens boks*/
#gulerødder, #levering{
width: 100%;
}

#tekstboks{
    text-align: center;
    justify-content: center;
    margin: auto;
}