*
{
    background-color: white;
    margin: 0;
    padding: 0;
}

/*---------------HEADER--------------------------------------------------------------- */
header
{  
  padding-bottom:40px;
}

header img /*LOGO*/
{ 
  position: absolute;
  left: 0; 
}


header nav
{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
header nav a, .dropdownbutton nav a
{

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2vw;
}


  /* ----------Dropdown------https://www.w3schools.com/howto/howto_css_dropdown.asp---- */

  .dropdownbutton
  {
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2vw;

  } 
  .dropdown
  {
    display: inline-block;
    text-align: center;
  }
  
  .dropdown-content
  {
    display: none;
    position: absolute;
    background-color:transparent;
    background-image: linear-gradient(rgb(0 0 0/2%) 0 0);
  }
  
  .dropdown-content a
  {    
    text-decoration: none;
    display: block;
    font-size: 1.3vw;
    padding: 1.4vh 1.2vh;
  }
  
  .dropdown-content a:hover
{
  background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
}
  
.dropdown:hover .dropdown-content 
{
  display: block; 
}
  
.dropdown:hover .dropdownbutton, header nav a:hover
{ 
  text-decoration: underline;
}