*
{
    margin: 0;
    padding: 0;
}


    /*---------------MAIN--------------------------------------------------------------- */

    .firstsection
    {
        height: 600px;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .firstsection img
    {
        width: 100%;
    }

    .firstsection h1
    {
        position: absolute;
        font-family: "iskra", sans-serif;
        top:25%;
        text-align: center;
        color: white;
        font-size: 5vw;
        text-transform: uppercase;
    }

    .firstsection a
    {
        position: absolute;
        font-family: raleway;
        top:70%;
        text-align: center;
        color: black;
        font-size: 1.3vw;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        border: 2px;
        border-radius: 30px;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        margin: 4px 2px; 
        cursor: pointer;
        background-color: white;
    }

    .infographic
    {
        padding-top: 3.5vh;
        text-align: center;
    }

    .infographic h1
    {
        font-family: "iskra", sans-serif;
        font-size: 3vw;
        text-transform: uppercase;
    }
    .infographic h2
    {
        font-family: raleway;
        font-size: 1.3vw;
        font-weight: normal;
        line-height: 2.8vw;
    }

    #blomst1
    {
        float:right;
        position: relative;
        top: -32vh; 
        width: 20%;
    }

    #blomst2
    {
        float:left;
        position: relative;
        top: 37vh; 
        width: 20%;
        -webkit-transform: scaleX(-1);
    }

    #graphic
    {
        padding-top: 5vh;
        width: 60%;
        margin: auto;
        padding: auto;
       }

    .flexcontainerindex
    {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        background-color: #EFE8E1;


    }

    .flexcontainerindex div
    {
        width: 50%;
        flex: 0 0 auto;

    }

    #imgcontainer
    {
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
   .textcontainer
    {
        font-family: "iskra", sans-serif;
        text-align: center;
        height: 100%;
    }
    .textcontainer h1
    {
        font-size: 1.5vw;
        text-transform: uppercase;
    }

    .textcontainer p
    {
        font-family: raleway;
        font-size: 2vw;
    }

    #ikonerflex
    {
        margin-left: 10vw;
        margin-right: 10vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }





